.App {
  text-align: center;
  background-color: rgb(10, 10, 24);
  height: 100vh;
}

.announcement-container{
  display: flex;
  width: 100%;
  height: inherit;
  align-items: center;
  flex-direction: column;
}

.logo-wrapper{
  width: 30%;
  min-width: 300px;
}

.logo{
  width: 100%;
}

.coming-soon-wrapper{
  width: 100%;
}

.coming-soon-text{
  margin-top: 0;
  font-size: 2rem;
}

.apply-text a:link,.apply-text a:visited{
  text-decoration: none;
  color: rgb(228, 133, 133);
  background-color: transparent;
}



.apply-text{
  font-size: 1.1rem;
  margin-top: 0;
}